<thead>
  <tr>
  {{#each column in columnProperties}}
      <td>
        {{column.header}}
      </td>
  {{/each}}
  </tr>
</thead>
<tbody>
  {{#each dat in dataSource}}
      <tr>
          dat
      </tr>
  {{/each}}
</tbody>

