<table>
  <thead>
    <tr>
    {{#each column in columnProperties}}
        <td>
          <i class="fa fa-sort"></i>
          <a {{action 'sortColumn' column}}>
            {{column.header}}
          </a>
        </td>
    {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rowData in paginatedContent}}

      {{view 'grid/row' content=rowData columnProperties = columnProperties}}

    {{/each}}
  </tbody>
</table>

{{pagination-ui totalPageNumber=totalPageNumber currentPage = currentPage}}


