<thead>
  <tr>
  {{#each column in columnProperties}}
      <td>
        {{column.header}}
      </td>
  {{/each}}
  </tr>
</thead>
<tbody>
  {{#each rowData in dataSource}}

    {{view 'grid/row' content=rowData columnProperties = columnProperties}}

  {{/each}}
</tbody>

