<h2 id="title">Welcome to Ember.js</h2>

{{flex-grid dataSource=anotherData columnProperties = columnProperties}}

{{view 'grid/row' content=anotherData columnProperties = columnProperties}}

{{outlet}}
